[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
prophecy = "6H9g5sKUeNhfa9aw2Mz8b56YKD2uT83rH841vUD9i1Fw"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
